<?xml version="1.0"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true">
  <testsuites>
    <testsuite name="free"><directory>tests/free</directory></testsuite>
    <testsuite name="pro"><directory>tests/pro</directory></testsuite>
  </testsuites>
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </coverage>
  <php>
    <const name="WPMCP_TESTING" value="true"/>
  </php>
</phpunit>
